.owner {
  &__container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: auto;
    &__profile {
      left: -80px;
      img {
        width: 477px;
      }
    }
    &__word {
      width: 730px;
      height: 413px;
      background-color: $primary;
      color: $white;
      position: relative;
      left: -80px;
      margin-top: 150px;

      h2 {
        font-family: "fraunces";
        font-size: 56px;
        font-weight: 600;
        padding-left: 70px;
        padding-bottom: 30px;
        padding-top: 70px;
      }
      p {
        width: 580px;
        padding-left: 70px;
      }
      img {
        position: absolute;
        right: 70px;
        top: 250px;
      }
    }
  }
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  &__logo {
    width: 100px;

    margin: auto;
  }
  &__social {
    width: 150px;

    margin: auto;
    &__container {
      padding-top: 40px;
      width: 130px;
      margin: auto;
    }
    img {
      display: inline-block;
      margin: auto;
      margin-left: 15px;
    }
  }
}
