.header {
  position: relative;
  background-color: $primary;
  color: $white;
  height: 730px;
  border-radius: 0% 0% 100% 100% / 69% 67% 32% 33%;

  /* Rectangle */
  &__nav {
    padding-top: 58px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 150px;
    align-items: center;
    &__logo {
      width: 50%;
    }
    &__buttons {
      width: 50%;
    }
  }
  &__section {
    overflow: hidden;
    position: relative;
    padding-bottom: 120px;
    &__left {
      position: absolute;
      left: -100px;

      overflow: hidden;
    }
    &__text {
      padding-top: 50px;
      width: 40%;
      margin: auto;
    }
    &__right {
      position: absolute;

      right: -50px;
      bottom: -20px;
      overflow: hidden;
    }
  }
  h1 {
    text-align: center;
    font-family: fraunces;
    font-size: 80px;
    font-weight: 500;
  }
  span {
    font-size: 80px;
    font-weight: 500;
    font-family: fraunces;
    border-bottom: 1px solid $secondary;
  }

  &__phone {
    bottom: -180px;
    width: 767px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;

    img {
      width: 100%;
    }
  }
}
