@font-face {
  font-family: "fraunces";
  src: url("/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
  font-family: "manrope";
  src: url("/assets//fonts/manrope/Manrope-VariableFont_wght.ttf");
}
